@model IEnumerable<DataAccessLayer.entity.BookingTicket>

@{
    ViewData["Title"] = "List";
}

<h1>List</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TicketID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Busname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Startingpoint)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Droppingpoint)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NoOfpeople)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JourneyDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContactNo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TicketID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Busname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Startingpoint)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Droppingpoint)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NoOfpeople)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JourneyDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContactNo)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { Busname = item.Busname }) |
                @Html.ActionLink("Details", "Details", new { Busname = item.Busname }) |
                @Html.ActionLink("Delete", "Delete", new { busname = item.Busname })
            </td>
        </tr>
}
    </tbody>
</table>
